.u-section-1 .u-sheet-1 {
  min-height: 1097px;
}

.u-section-1 .u-text-1 {
  width: 682px;
  margin: 536px auto 0;
}

.u-section-1 .u-text-2 {
  width: 682px;
  font-size: 0.75rem;
  margin: 0 229px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-gallery-item-1 {
  margin: 509px 0 1px;
}

.u-section-1 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-left: 129px;
    margin-right: 129px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-top: 3872px;
    margin-left: 229px;
    margin-right: 229px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -463px;
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-1 .u-gallery-item-1 {
    margin: 469px 210px 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
    margin-top: 4148px;
    margin-left: 300px;
    margin-right: 300px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
    margin-top: -1686px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-gallery-item-1 {
    margin-left: 300px;
    margin-right: 300px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 340px;
    margin-top: 3036px;
    margin-left: 400px;
    margin-right: 400px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
    margin-top: -2387px;
  }

  .u-section-1 .u-gallery-item-1 {
    margin-left: 400px;
    margin-right: 400px;
  }
}